@import url('styles/fonts.css');

* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #F5F5F5;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
}

ul li{
    background-color: #1E1E1E;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

ul li a {
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'Nunito', sans-serif;
}

ul li a:hover {
    color: #BB86FC;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #FFA94D;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5rem;
}